<h1>Task</h1>
<p>
  <%= render 'shared/flashes' %>
</p>
<p>
  <strong>Title:</strong> 
  <%= @task.title %>
</p>

<%= link_to 'Edit', edit_task_path %>
<%= link_to 'Delete', task_path,
              method: :delete,
              data: {confirm: 'Are you sure?'}%><br>
<%= link_to 'All Tasks', tasks_path %>
 

